{% extends "::base.html.twig" %}

{% block title %}Edit report - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container" id="contact">
        {{ form_start(form) }}
        {{ form_row(form.reason) }}
        {{ form_row(form.question) }}
        <input type="submit" value="Edit report">
        {{ form_end(form) }}
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}

{% endblock %}

